@import url(https://fonts.googleapis.com/css?family=Six+Caps);

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movie-list {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.movie-item {
  width: calc(20% - 20px);
  text-align: center;
}

.movie-item img {
  max-width: 100%;
}
.cart {
  
}

.cart-item {
  /* border: 3px purple solid; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: calc(20% - 20px);
  text-align: center;
  padding: 2%;
}

.cart-item img {
  width: 5em;
  height: 5em;
}

.cart-name {
  padding: 1em;
  text-align: center;
}

#lightBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  
  border-radius: 16px;
  
  max-width: 100%;
  max-height: 100%;
  top: 25%;
  left: 20%;
  right: 20%;
  bottom: 25%;
  padding: 5px;
  align-items: center;
  justify-content: space-evenly;
  
}

#lightBox-poster {
  margin: 5px;
  min-width: 60vh;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8));
  padding: 32px;
  border-radius: 8px;
  z-index: 1;
}

#navBar {
  position: fixed;
  background: #1a1a1a;
  right: 0px;
  left: 0px;
  top: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#homeButton{
  margin-left: 1rem;
}

#cartButton {
  background: white;
  color: black;
  margin-right: 30px;
}

.movie-item:hover {
  cursor: pointer;
  transform: scale(1.1); 
  transition: transform 0.2s ease-in-out; 
}

.search-sort-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-options {
  display: flex;
  justify-content: flex-end;
}



.search-input {
  width: 300px; 
  font-size: 20px; 
  padding: 10px; 
}

.vintage__container {
  display: inline-block;
  margin: 25px auto 40px;
}

.vintage {
  font-family: 'Six Caps', sans-serif;
  font-size: 192px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}


.vintage__bot {
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}

.checkout-container {
  text-align: center;
}

.form-group {
  margin: 10px 0;
  display: block;
  text-align: center;
}
.checkout-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .movie-list {
    margin: 1rem;
  }
  .search-sort-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .vintage {
    font-size: 70px;
    letter-spacing: 5px;
  }
  .movie-item {
    width: calc(50% - 20px);
  }

  .cart-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 769px) {
  .movie-item {
    width: calc(20% - 20px);
  }

  .cart-item {
    width: calc(20% - 20px);
  }
}






